includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 7
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Property .* does not accept null#'
  parallel:
    maximumNumberOfProcesses: 4
